h1
{
	color: black;
}
body
{
	background-image: url("C://Users//hp//Documents//Website//pexels-achim-bongard-352096.jpg");
}
div p
{
	font-size: 30px;
	font-style: normal;
}
span a
{
	font-size: 30px;
}